<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Automata Web Platform</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body class="page page-home">
    <h1>
      Welcome, {{ .me.Username }}
    </h1>

    <form class="logout-form" action="/auth" method="POST">
      <input type="hidden" name="delete">
      <input class="button button-secondary" type="submit" value="Logout">
    </form>

    <!-- Adding / Editing / Viewing assignments -->
    <h3>Assignments</h3>
    {{ range .assignments }}
    <form class="card-form assignment-row" action="/assignment/{{.id}}" method="GET">
      <label class="item-title">{{.name}}</label>
      <label>Starts on</label>
      <input type="datetime-local" value="{{.start}}" disabled />
      <label>Ends on</label>
      <input type="datetime-local" value="{{.end}}" disabled />
      <input class="button" type="submit" value="View" />
    </form>
    {{ end }}

    {{ if .me.Admin }}
    <form class="card-form create-row" action="/assignment/-1" method="GET">
      <label class="item-title">Create an assignment</label>
      <input class="button" type="submit" value="Create" />
    </form>
    {{ end }}

    <!-- Admin stuff: adding, deleting, resetting student passwords -->
    {{ if .me.Admin }}

    <h3>Students</h3>
    {{ range .users }}
    {{ if not .Admin }}
    <form class="card-form list-row" action="/user/{{ .Username }}" method="POST">
      <label class="item-title">{{ .Username }}</label>
      <input class="button button-danger" type="submit" value="Delete user" />
    </form>
    {{ end }}
    {{ end }}

    <h4>Add student</h4>
    <form class="card-form" action="/user" method="POST">
      <label>Username</label>
      <input type="text" name="username" />
      <label>Password</label>
      <input type="password" name="password" />
      <input class="button" type="submit" value="Add" />
    </form>

    <h4>Update a students's password</h4>
    <form class="card-form" action="/user/password" method="POST">
      <label>Username</label>
      <input type="text" name="username" />
      <label>Password</label>
      <input type="password" name="password" />
      <input class="button" type="submit" value="Reset" />
    </form>

    {{ end }}

    <h4>Update my password</h4>
    <form class="card-form" action="/password" method="POST">
      <label>Password</label>
      <input type="password" name="password" />
      <input class="button" type="submit" value="Update" />
    </form>

  </body>
</html>
