<!DOCTYPE html>
<html>
  <head>
    <title>Automata Web Platform</title>
  </head>
  <body>
    <h1>
      Welcome, {{ .user }}
    </h1>
    <form action="/logout">
      <input type="submit" value="Logout">
    </form>
  </body>
</html>
