<!DOCTYPE html>
<html>
  <head>
    <title>Automata Web Platform</title>
  </head>
  <body>
    <h1>
      Welcome, {{ .me.Username }}
    </h1>

    <form action="/auth" method="POST">
      <input type="hidden" name="delete">
      <input type="submit" value="Logout">
    </form>

    <h4>Update my password</h4>
    <form action="/password" method="POST">
      <label>Password</label>
      <input type="password" name="password" />
      <input type="submit" value="Update" />
    </form>

    {{ if .me.Admin }}
    <h4>Add User</h4>
    <form action="/user" method="POST">
      <label>Username</label>
      <input type="text" name="username" />
      <label>Password</label>
      <input type="password" name="password" />
      <input type="submit" value="Add" />
    </form>

    <h4>Update User's password</h4>
    <form action="/user/password" method="POST">
      <label>Username</label>
      <input type="text" name="username" />
      <label>Password</label>
      <input type="password" name="password" />
      <input type="submit" value="Reset" />
    </form>

    <h3>Students</h3>

    {{ range .users }}
    {{ if not .Admin }}

    <form action="/user/{{ .Username }}" method="POST">
      <label>{{ .Username }}</label>
      <input type="submit" value="Delete user" />
    </form>

    {{ end }}
    {{ end }}
    {{ end }}

    <h3>Assignments</h3>
    {{ range .assignments }}
    <form action="/assignment/{{.id}}" method="GET">
      <label>{{.name}}</label>
      <label>Starts on</label>
      <input type="datetime-local" value="{{.start}}" disabled />
      <label>Ends on</label>
      <input type="datetime-local" value="{{.end}}" disabled />
      <input type="submit" value="View" />
    </form>
    {{ end }}

    {{ if .me.Admin }}
    <form action="/assignment/-1" method="GET">
      <label>Create an assignment</label>
      <input type="submit" value="Create" />
    </form>
    {{ end }}

  </body>
</html>
