<!DOCTYPE html>
<html>
  <head>
    <title>Automata Web Platform</title>
  </head>
  <body>
    <h1>
      Login Page
    </h1>
    <form action="/auth" method="POST">
      <label>Username:</label>
      <input type="text" name="username"/>
      <label>Password:</label>
      <input type="password" name="password"/>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
