<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Automata Web Platform</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body class="page page-login">
    <h1>
      Login Page
    </h1>
    <form class="card-form login-form" action="/auth" method="POST">
      <label>Username:</label>
      <input type="text" name="username"/>
      <label>Password:</label>
      <input type="password" name="password"/>
      <input class="button" type="submit" value="Submit">
    </form>
  </body>
</html>
